doctype html
html
  head

    link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block head
      title layout-no-title
  body
    // nav menu
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/admin/v/index')
            img(alt='Brand', height='20px', width='20px', src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAA81BMVEX///9VPnxWPXxWPXxWPXxWPXxWPXxWPXz///9hSYT6+vuFc6BXPn37+vz8+/z9/f2LeqWMe6aOfqiTg6uXiK5bQ4BZQX9iS4VdRYFdRYJfSINuWI5vWY9xXJF0YJR3Y5Z4ZZd5ZZd6Z5h9apq0qcW1qsW1q8a6sMqpnLyrn76tocCvpMGwpMJoUoprVYxeRoJjS4abjLGilLemmbrDutDFvdLPx9nX0eDa1OLb1uPd1+Td2OXe2eXh3Ofj3+nk4Orl4evp5u7u7PLv7fPx7/T08vb08/f19Pf29Pj39vn6+fuEcZ9YP35aQn/8/P1ZQH5fR4PINAOdAAAAB3RSTlMAIWWOw/P002ipnAAAAPhJREFUeF6NldWOhEAUBRvtRsfdfd3d3e3/v2ZPmGSWZNPDqScqqaSBSy4CGJbtSi2ubRkiwXRkBo6ZdJIApeEwoWMIS1JYwuZCW7hc6ApJkgrr+T/eW1V9uKXS5I5GXAjW2VAV9KFfSfgJpk+w4yXhwoqwl5AIGwp4RPgdK3XNHD2ETYiwe6nUa18f5jYSxle4vulw7/EtoCdzvqkPv3bn7M0eYbc7xFPXzqCrRCgH0Hsm/IjgTSb04W0i7EGjz+xw+wR6oZ1MnJ9TWrtToEx+4QfcZJ5X6tnhw+nhvqebdVhZUJX/oFcKvaTotUcvUnY188ue/n38AunzPPE8yg7bAAAAAElFTkSuQmCC')
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded='false') 微信
                span.caret
              ul.dropdown-menu(role='menu')
                li: a(href='/admin/v/wechat/auto-reply') 自动回复
                li: a(href='/admin/v/wechat/custom-menu') 自定义菜单
                li: a(href='/admin/v/wechat/send-msg') 发送消息
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', role='button', aria-expanded='false') 用户
                span.caret
              ul.dropdown-menu(role='menu')
                li: a(href='#') 当前用户
                li: a(href='#') 注销
            li: a(href='#') 帮助

    // content
    block content

    script(src='http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js')
    script(src='http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js')

    block foot
