extend layout.jade
block content
  #content
    .outer
      .inner.bg-light.lter
        .col-lg-12
          h1#bootstrap-admin-template-build-status-https-travis-ci-org-onokumus-bootstrap-admin-template-png-https-travis-ci-org-onokumus-bootstrap-admin-template-dependency-status-https-david-dm-org-onokumus-bootstrap-admin-template-svg-theme-shields-io-https-david-dm-org-onokumus-bootstrap-admin-template-devdependency-status-https-david-dm-org-onokumus-bootstrap-admin-template-dev-status-svg-theme-shields-io-https-david-dm-org-onokumus-bootstrap-admin-template-info-devdependencies-
            | Bootstrap-Admin-Template
            a(href='https://travis-ci.org/onokumus/Bootstrap-Admin-Template')
              img(src='https://travis-ci.org/onokumus/Bootstrap-Admin-Template.png', alt='Build Status')
            a(href='https://david-dm.org/onokumus/Bootstrap-Admin-Template')
              img(src='https://david-dm.org/onokumus/Bootstrap-Admin-Template.svg?theme=shields.io', alt='Dependency Status')
            a(href='https://david-dm.org/onokumus/Bootstrap-Admin-Template#info=devDependencies')
              img(src='https://david-dm.org/onokumus/Bootstrap-Admin-Template/dev-status.svg?theme=shields.io', alt='devDependency Status')
          blockquote
            p Free Admin Template Based On Twitter Bootstrap 3.x
          h2#toc TOC
          ul
            li
              a(href='#download') Download
            li
              a(href='#building') Building
            li
              a(href='#demo') Demo
            li
              a(href='#release-history') Release History
            li
              a(href='#credits') Credits
            li
              a(href='#author') Author
            li
              a(href='#license') License
          h3#download Download
          ul
            li
              p
                | Bootstrap 2.3.2
                a(href='https://github.com/onokumus/Bootstrap-Admin-Template/archive/v1.2.zip') v1.2
                |                     ready for use
            li
              p
                | Bootstrap 3.3.0
                a(href='https://github.com/onokumus/Bootstrap-Admin-Template/archive/master.zip') v2.3.1
                |                     ready
                code dist
                |  folder your use
          h3#building Building
          h4#2-3-1-version 2.3.1 Version
          p
            | required
            a(href='http://nodejs.org/') node.js
            |  &
            a(href='http://bower.io/') bower
            |  &
            a(href='http://gruntjs.com/getting-started') grunt
          pre.
          h4#2-3-1-rtl-version 2.3.1 RTL Version
          p
            | required
            a(href='http://nodejs.org/') node.js
            |  &
            a(href='http://bower.io/') bower
            |  &
            a(href='http://gruntjs.com/getting-started') grunt
          pre.
          h4#1-2-version 1.2 Version
          pre.
          h3#demo Demo
          ul
            li
              a(href='http://demo.onokumus.com/metis/') Demo v2.3.1
            li
              a(href='http://demo.onokumus.com/metis/rtl/') RTL v2.3.1
            li
              a(href='http://demo.onokumus.com/metis/v12')
                | v1.2
                code not development
          h2#release-history Release History
          p
            strong DATE
            strong VERSION
            strong CHANGES
          ul
            li
              | 2014-11-01 v2.3.1 Bootstrap 3.3.0, fixed jquery-timepicker stylesheet, added metisMenu
              pre.
            li 2014-07-18 v2.2.7 added some layouts sample
            li 2014-07-07 v2.2.6 Bootstrap 3.2.0
            li
              | 2014-06-04 v2.2.5 Fixed side panel(s) code Deprecated main.js Added core.js & app.js
            li 2014-04-23 v2.2.4 RTL version added Remove CLEditor Added CKEditor
            li 2014-04-13 v2.2.3 rewrite all code
            li
              | 2014-04-10 v2.2.2 remove
              code alterne.html
              | ,right panel available
            li 2014-04-07 v2.2.1 all dependency require bower & npm
            li 2014-02-28 v2.2.0 rewrite menu, layout, etc
            li 2014-02-16 v2.1.4 update bootsrap 3.1.1 && add screenfull.js && fixed
            li 2014-01-19 v2.1.3 add suitcss 's flex-embed component
            li
              | 2013-11-30 v2.1.2 create menu plugin, rewrite
              code menu.less
            li 2013-10-28 v2.1.1.2 add bower
            li 2013-10-28 v2.1.1.1 remove bootsrap, font awesome, gmaps submodule.
            li
              | 2013-10-23 v2.1.1 Added
              code bgimage.html
              |  Added
              code bgcolor.html
              |  pages.
            li 2013-10-22 v2.1 I don't remember. Whatever I did.
            li 2013-02-14 v1.0 First Commit.
          h3#credits Credits
          ul
            li
              a(href='http://nodejs.org/') node.js
            li
              a(href='http://bower.io/') bower
            li
              a(href='http://gruntjs.com/') Grunt
            li
              a(href='http://assemble.io/') Assemble
            li
              a(href='http://jquery.com/') jQuery
            li
              a(href='http://getbootstrap.com/') Bootstrap
            li
              a(href='http://lesscss.org/') LESS
            li
              a(href='http://modernizr.com/') Modernizr
            li
              a(href='http://momentjs.com/') Moment.js
            li
              a(href='https://github.com/subtlepatterns/SubtlePatterns') SubtlePatterns
            li
              a(href='http://arshaw.com/fullcalendar/') FullCalendar
            li
              a(href='https://github.com/harvesthq/chosen') Chosen
            li
              a(href='http://ckeditor.com/') CKEditor
            li
              a(href='http://www.eyecon.ro/bootstrap-colorpicker/') Colorpicker for Bootstrap
            li
              a(href='http://www.datatables.net') Data Tables
            li
              a(href='http://www.eyecon.ro/bootstrap-datepicker') Datepicker for Bootstrap
            li
              a(href='http://elfinder.org') elFinder
            li
              a(href='http://rustyjeans.com/jquery-plugins/input-limiter') Input Limiter
            li
              a(href='http://jasny.github.com/bootstrap') Jasny Bootstrap
            li
              a(href='http://jqueryvalidation.org/') jQuery Validation
            li
              a(href='http://omnipotent.net/jquery.sparkline') jQuery Sparklines
            li
              a(href='http://daneden.github.io/animate.css/') Animate
            li
              a(href='http://www.jacklmoore.com/autosize') Autosize
            li
              a(href='http://keith-wood.name/countdown.html') Countdown
            li
              a(href='http://cssbeautify.com') CSS Beautify
            li
              a(href='https://github.com/dangrossman/bootstrap-daterangepicker') Date range picker
            li
              a(href='http://www.flotcharts.org') Flot
            li
              a(href='http://jquery.malsup.com/form/') jQuery Form
            li
              a(href='http://thecodemine.org') Form Wizard
            li
              a(href='http://boedesign.com/blog/2009/07/11/growl-for-jquery-gritter/') Gritter
            li
              a(href='https://github.com/brandonaaron/jquery-mousewheel') Mouse Wheel
            li
              a(href='https://github.com/kevinoconnor7/pagedown-bootstrap') PageDown-Bootstrap
            li
              a(href='https://github.com/moxiecode/plupload') Plupload
            li
              a(href='http://www.larentis.eu/switch/') Bootstrap Switch
            li
              a(href='http://tablesorter.com/') tablesorter
            li
              a(href='http://xoxco.com/projects/code/tagsinput/') tagsinput
            li
              a(href='http://jdewit.github.io/bootstrap-timepicker/') Bootstrap Timepicker
            li
              a(href='http://touchpunch.furf.com/') Touch Punch
            li
              a(href='http://uniformjs.com/') Uniform
            li
              a(href='http://www.position-relative.net/') Validation Engine
            li
              a(href='http://validval.frebsite.nl/') jquery.validVal
            li
              a(href='https://github.com/Waxolunist/bootstrap3-wysihtml5-bower') bootstrap3-wysihtml5-bower
            li
              a(href='https://github.com/sindresorhus/screenfull.js') screenfull.js
            li
              a(href='https://github.com/onokumus/metisMenu') metisMenu
          h3#author Author
          ul
            li onokumus
          h3#license License
          p Copyright (c) 2014 onokumus, contributors.
          p
            em
              | This file was generated by
              a(href='https://github.com/assemble/verb-cli') verb-cli
              |   on November 01, 2014.
      // /.inner
    // /.outer
  // /#content
