#left
  .media.user-media.bg-dark.dker
    .user-media-toggleHover
      span.fa.fa-user
    .user-wrapper.bg-dark
      a.user-link(href='')
        img.media-object.img-thumbnail.user-img(alt='User Picture', src='assets/img/user.gif')
        span.label.label-danger.user-label 16
      .media-body
        h5.media-heading 名字
        ul.list-unstyled.user-info
          li
            a(href='') 管理员
          li 上次登录：
            br
            small
              i.fa.fa-calendar
              |  1月1日 10:14
  // #menu
  ul#menu.bg-blue.dker
    li.nav-header 菜单
    li.nav-divider
    li
      a(href='dashboard.html')
        i.fa.fa-dashboard
        span.link-title 图表
    li
      a(href='javascript:;')
        i.fa.fa-building
        span.link-title Layouts
        span.fa.arrow
      ul
        li
          a(href='boxed.html')
            i.fa.fa-angle-right
            |   Boxed Layout
        li
          a(href='fixed-header-boxed.html')
            i.fa.fa-angle-right
            |   Boxed Layout & Fixed Header
        li
          a(href='fixed-header-fixed-mini-sidebar.html')
            i.fa.fa-angle-right
            |   Fixed Header and Fixed Mini Menu
        li
          a(href='fixed-header-menu.html')
            i.fa.fa-angle-right
            |   Fixed Header & Menu
        li
          a(href='fixed-header-mini-sidebar.html')
            i.fa.fa-angle-right
            |   Fixed Header & Mini Menu
        li
          a(href='fixed-header.html')
            i.fa.fa-angle-right
            |   Fixed Header
        li
          a(href='fixed-menu-boxed.html')
            i.fa.fa-angle-right
            |   Boxed Layout & Fixed Menu
        li
          a(href='fixed-menu.html')
            i.fa.fa-angle-right
            |   Fixed Menu
        li
          a(href='fixed-mini-sidebar.html')
            i.fa.fa-angle-right
            |   Fixed & Mini Menu
        li
          a(href='fxhmoxed.html')
            i.fa.fa-angle-right
            |   Boxed and Fixed Header & Nav
        li
          a(href='no-header-sidebar.html')
            i.fa.fa-angle-right
            |   No Header & Sidebars
        li
          a(href='no-header.html')
            i.fa.fa-angle-right
            |   No Header
        li
          a(href='no-left-right-sidebar.html')
            i.fa.fa-angle-right
            |   No Left & Right Sidebar
        li
          a(href='no-left-sidebar-main-search.html')
            i.fa.fa-angle-right
            |   No Left Sidebar & Main Search
        li
          a(href='no-left-sidebar.html')
            i.fa.fa-angle-right
            |   No Left Sidebar
        li
          a(href='no-main-search.html')
            i.fa.fa-angle-right
            |   No Main Search
        li
          a(href='no-right-sidebar.html')
            i.fa.fa-angle-right
            |   No Right Sidebar
        li
          a(href='sm.html')
            i.fa.fa-angle-right
            |   Mini Sidebar
    li
      a(href='javascript:;')
        i.fa.fa-tasks
        span.link-title Components
        span.fa.arrow
      ul
        li
          a(href='bgcolor.html')
            i.fa.fa-angle-right
            |   Bg Color
        li
          a(href='bgimage.html')
            i.fa.fa-angle-right
            |   Bg Image
        li
          a(href='button.html')
            i.fa.fa-angle-right
            |   Buttons
        li
          a(href='icon.html')
            i.fa.fa-angle-right
            |   Icon
        li
          a(href='pricing.html')
            i.fa.fa-angle-right
            |   Pricing Table
        li
          a(href='progress.html')
            i.fa.fa-angle-right
            |   Progress
    li
      a(href='javascript:;')
        i.fa.fa-pencil
        span.link-title
          | Forms
        span.fa.arrow
      ul
        li
          a(href='form-general.html')
            i.fa.fa-angle-right
            |   Form General
        li
          a(href='form-validation.html')
            i.fa.fa-angle-right
            |   Form Validation
        li
          a(href='form-wizard.html')
            i.fa.fa-angle-right
            |   Form Wizard
        li
          a(href='form-wysiwyg.html')
            i.fa.fa-angle-right
            |   Form WYSIWYG
    li
      a(href='table.html')
        i.fa.fa-table
        span.link-title Tables
    li
      a(href='file.html')
        i.fa.fa-file
        span.link-title
          | File Manager
    li
      a(href='typography.html')
        i.fa.fa-font
        span.link-title
          | Typography
    li
      a(href='maps.html')
        i.fa.fa-map-marker
        span.link-title
          | Maps
    li
      a(href='chart.html')
        i.fa.fa.fa-bar-chart-o
        span.link-title
          | Charts
    li
      a(href='calendar.html')
        i.fa.fa-calendar
        span.link-title
          | Calendar
    li
      a(href='javascript:;')
        i.fa.fa-exclamation-triangle
        span.link-title
          | Error Pages
        span.fa.arrow
      ul
        li
          a(href='403.html')
            i.fa.fa-angle-right
            |  403
        li
          a(href='404.html')
            i.fa.fa-angle-right
            |  404
        li
          a(href='405.html')
            i.fa.fa-angle-right
            |  405
        li
          a(href='500.html')
            i.fa.fa-angle-right
            |  500
        li
          a(href='503.html')
            i.fa.fa-angle-right
            |  503
        li
          a(href='offline.html')
            i.fa.fa-angle-right
            |  offline
        li
          a(href='countdown.html')
            i.fa.fa-angle-right
            |  Under Construction
    li
      a(href='grid.html')
        i.fa.fa-columns
        span.link-title
          | Grid
    li
      a(href='blank.html')
        i.fa.fa-square-o
        span.link-title
          | Blank Page
    li.nav-divider
    li
      a(href='login.html')
        i.fa.fa-sign-in
        span.link-title
          | Login Page
    li
      a(href='javascript:;')
        i.fa.fa-code
        span.link-title
          | Unlimited Level Menu
        span.fa.arrow
      ul
        li
          a(href='javascript:;')
            | Level 1
            span.fa.arrow
          ul
            li
              a(href='javascript:;') Level 2
            li
              a(href='javascript:;') Level 2
            li
              a(href='javascript:;')
                | Level 2
                span.fa.arrow
              ul
                li
                  a(href='javascript:;') Level 3
                li
                  a(href='javascript:;') Level 3
                li
                  a(href='javascript:;')
                    | Level 3
                    span.fa.arrow
                  ul
                    li
                      a(href='javascript:;') Level 4
                    li
                      a(href='javascript:;') Level 4
                    li
                      a(href='javascript:;')
                        | Level 4
                        span.fa.arrow
                      ul
                        li
                          a(href='javascript:;') Level 5
                        li
                          a(href='javascript:;') Level 5
                        li
                          a(href='javascript:;') Level 5
                li
                  a(href='javascript:;') Level 4
            li
              a(href='javascript:;') Level 2
        li
          a(href='javascript:;') Level 1
        li
          a(href='javascript:;')
            | Level 1
            span.fa.arrow
          ul
            li
              a(href='javascript:;') Level 2
            li
              a(href='javascript:;') Level 2
            li
              a(href='javascript:;') Level 2
  // /#menu
// /#left
