#right.bg-light.lter
  .alert.alert-danger
    button.close(type='button', data-dismiss='alert') ×
    strong Warning!
    |   Best check yo self, you're not looking too good.
  // .well well-small
  .well.well-small.dark
    ul.list-unstyled
      li
        | Visitor
        span.inlinesparkline.pull-right 1,4,4,7,5,9,10
      li
        | Online Visitor
        span.dynamicsparkline.pull-right Loading..
      li
        | Popularity
        span.dynamicbar.pull-right Loading..
      li
        | New Users
        span.inlinebar.pull-right 1,3,4,5,3,5
  // /.well well-small
  // .well well-small
  .well.well-small.dark
    button.btn.btn-block Default
    button.btn.btn-primary.btn-block Primary
    button.btn.btn-info.btn-block Info
    button.btn.btn-success.btn-block Success
    button.btn.btn-danger.btn-block Danger
    button.btn.btn-warning.btn-block Warning
    button.btn.btn-inverse.btn-block Inverse
    button.btn.btn-metis-1.btn-block btn-metis-1
    button.btn.btn-metis-2.btn-block btn-metis-2
    button.btn.btn-metis-3.btn-block btn-metis-3
    button.btn.btn-metis-4.btn-block btn-metis-4
    button.btn.btn-metis-5.btn-block btn-metis-5
    button.btn.btn-metis-6.btn-block btn-metis-6
  // /.well well-small
  // .well well-small
  .well.well-small.dark
    span Default
    span.pull-right
      small 20%
    .progress.xs
      .progress-bar.progress-bar-info(style='width: 20%')
    span Success
    span.pull-right
      small 40%
    .progress.xs
      .progress-bar.progress-bar-success(style='width: 40%')
    span warning
    span.pull-right
      small 60%
    .progress.xs
      .progress-bar.progress-bar-warning(style='width: 60%')
    span Danger
    span.pull-right
      small 80%
    .progress.xs
      .progress-bar.progress-bar-danger(style='width: 80%')
// /#right
// /#wrap
