extend ../common/layout.jade
block head
  title 自定义菜单
block content
  p 自定义菜单

block foot
  script.
    $(function(){
      var menu = "";
      menu = JSON.parse(menu);
      menu = menu.menu.button;

      var html = '';
      menu.forEach(function(o){

        html += '<ul class="menu"><li>' + o.name + '</li>';
        if (o.sub_button !== undefined && o.sub_button.length != 0) {
          o.sub_button.forEach(function(sub){

          });
        }
      });
    });
